<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="js/core/angular.min.js"></script>
	<script src="js/core/jquery-3.3.1.min.js"></script>
	<script src="js/core/taffy-min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-mocks.min.js"></script>
	<script src="js/lib/jquery-ui.min.js"></script>
	<script src="js/lib/simplrGrid.min.js"></script>
	<script src="js/db/employees.js"></script>
	<script src="js/db/roles.js"></script>
	<link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/simplrGrid.css">
</head>
<body ng-app="myApp">
	<script type="text/ng-template" charset="utf-8" id="employee.html">
		<div ng-controller="employeeController">
			<form>
				<table>
					<tr>
						<td class="caption">IDNo</td>
						<td colspan="3">
							<input type="text" name="idno">
						</td>
					</tr>
					<tr>
						<td class="caption">Surname</td>
						<td><input type="text" name="surname"></td>
						<td class="caption">Othernames</td>
						<td><input type="text" name="othernames"></td>
					</tr>
					<tr>
						<td class="caption">Post</td>
						<td colspan="3">
							<select></select>
						</td>
					</tr>
					<tr>
						<td class="caption">Address 1</td>
						<td><textarea rows="5" cols="30" name="address1"></textarea></td>
						<td class="caption">Address 2</td>
						<td><textarea rows="5" cols="30" name="address2"></textarea></td>
					</tr>
					<tr>
						<td class="caption">Phone 1</td>
						<td><input type="text" name="phone1"></td>
						<td class="caption">Phone 2</td>
						<td><input type="text" name="phone2"></td>
					</tr>
					<tr>
						<td class="caption">Email 1</td>
						<td><input type="text" name="email1"></td>
						<td class="caption">Email 2</td>
						<td><input type="text" name="email2"></td>
					</tr>
					<tr>
						<td class="caption">NSSF</td>
						<td><input type="text" name="nssf"></td>
						<td class="caption">NHIF</td>
						<td><input type="text" name="nhif"></td>
					</tr>
					<tr>
						<td class="caption">PIN</td>
						<td colspan="3">
							<input type="text" name="pin">
						</td>
					</tr>
					<tr>
						<td class="caption">Gender</td>
						<td colspan="3">
							<select ng-model="gender" ng-options="gender for gender in genders"></select>
						</td>
					</tr>
					<tr>
						<td class="caption">Country</td>
						<td><input type="text" name="country"></td>
						<td class="caption">City</td>
						<td><input type="text" name="city"></td>
					</tr>
					<tr>
						<td class="caption">DOB</td>
						<td colspan="3">
							<input type="date" name="dob">
						</td>
					</tr>
					<tr>
						<td class="caption">Start Date</td>
						<td><input type="date" name="start_date"></td>
						<td class="caption">End Date</td>
						<td><input type="date" name="end_date"></td>
					</tr>
					<tr>
						<td class="caption">Marital Status</td>
						<td colspan="3">
							<select ng-model="maritalStatus" ng-options="status for status in maritalStatus"></select>
						</td>
					</tr>
					<tr>
						<td class="caption">Bank Details</td>
						<td colspan="3">
							<textarea rows="5" cols="30"></textarea>
						</td>
					</tr>
					<tr>
						<td class="caption">Active</td>
						<td colspan="3">
							<input type="checkbox" name="active">
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="3">
							<input type="submit" value="Submit" ng-click="submit()">
							<input type="reset" value="Reset">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</script>
	<script type="text/ng-template" charset="utf-8" id="login.html">
      	<div ng-controller="loginController">
			<table>
				<tr>
					<td class="caption">Username</td>
					<td>
						<input type="text" name="username" ng-model="username">
					</td>
				</tr>
				<tr>
					<td class="caption">Password</td>
					<td>
						<input type="password" name="password" ng-model="password">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button id="login">Submit</button>
					</td>
				</tr>
			</table>
		</div>
    </script>
    <script  type="text/ng-template" charset="utf-8" id="user.html">
    	<div ng-controller="userController">
			<form name="userForm">
				<table>
					<tr>
						<td class="caption">Username</td>
						<td><input type="text" name="username" ng-model="username"></td>
					</tr>
					<tr>
						<td class="caption">Password</td>
						<td><input type="password" name="password" ng-model="password"></td>
					</tr>
					<tr>
						<td class="caption">Confirm Password</td>
						<td><input type="password" name="cpassword" ng-model="cpassword"></td>
					</tr>
					<tr>
						<td class="caption">Roles</td>
						<td>
							<select name="role" id="role" ng-model="role" ng-options="role for role in roles">
						    </select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" value="Submit" ng-click="submit()">
							<input type="reset" value="Reset">
						</td>
					</tr>
				</table>
			</form>
		</div>
    </script>
	<div class="tree">
		<ul>
			<li><span>+</span>
				<a href="">Administration</a>
				<ul>
					<li><a href="#!/role">Role</a></li>
					<li><a href="#!/user">User</a></li>
					<li><a href="#!/period">Period</a></li>
				</ul>
			</li>
			<li><span>+</span>
				<a href="">Human Resource</a>
				<ul>
					<li><a href="#!/employees">Employees</a></li>
					<li><a href="#!/dept">Department</a></li>
					<li><a href="#!/post">Post</a></li>
				</ul>
			</li>
			<li><span>+</span>
				<a href="">Payroll</a>
				<ul>
					<li><span>+</span>
						<a href="">Rates</a>
						<ul>
							<li><a href="#!/nhif">NHIF</a></li>
							<li><a href="#!/paye">PAYE</a></li>
							<li><a href="#!/tax">Tax Relief</a></li>
						</ul>
					</li>
					<li><a href="#!/benefits">Benefits</a></li>
					<li><a href="#!/rpt">Reports</a></li>
				</ul>
			</li>
			<li><a href="/">Logout</a></li>
		</ul>
	</div>
	<div class="body" ng-view></div>
</body>
<script src="js/main.js"></script>
<script>
	(function(){

		$(".tree")
			.find("ul:has(li) span")
				.next()
					.click(function(){

						var ul = $(this).next();

						if($(this).prev().html() == "+"){

							$(this).prev().html("-")
							ul.hide();
						}
						else{

							$(this).prev().html("+")
							ul.show();
						}
					})
					.click();
	})();
</script>
</html>